
<div class="panel panel-default">
  <div class="panel-heading">Welcome to Chat Application</div>
</div>

<div class="container">
  <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form.value)">
    <label for="UserName">Name:</label><br>
    <input type="text" name="UserName" [(ngModel)]="model.UserName">

    <br><br>
    <label for="Password">Password:</label><br>
    <input type="password" name="Password" [(ngModel)]="model.Password">
    <br /><br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <a [routerLink]="['/register']">
      register
    </a>
  </form>
</div>
